* {
    box-sizing: border-box;
}

#calculator{
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #000;
}
#display{
   width: 100%;
   padding: 10px;
   color: #FFF;
   background-color: #000;
   text-align: end;
}
